$colors: (
  link: #283774,
  highlight: $color_dark_blue,
  checkbox: #d2d2d7,
  hover: lighten(#283774, 15%),
  text: #333,
  text-light: #6f6777,
  text-time: #a9a4b0,
  text-disable: #a9a4b0,
  notice: #27cc95,
  warn: $color_red,
  info: $color_blue,
  focus: $color_blue,
  borderGray: #d2d2d7,
  borderTable: #cfd8dc,
  disabled: #cfd8dc,
  background: #e4e5e6,
  overlay: rgba(150, 150, 150, .7),
  tab: #28232d,
  'modal-title': #28232d,
  'modal-header': #f2f2f2,
);
